html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: #7442C8;
  min-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20%;
  gap: 60vh;
  /* background: linear-gradient(180deg, #7442C8 0%, rgb(125, 69, 188) 100%); */
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #7442C8;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 17%;
  width: 179px;
  height: 179px;
  bottom: -179px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 84%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 4%;
  width: 137px;
  height: 137px;
  bottom: -137px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 28%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 4s;
}
.background li:nth-child(4) {
  left: 54%;
  width: 177px;
  height: 177px;
  bottom: -177px;
  animation-delay: 20s;
}
.background li:nth-child(5) {
  left: 17%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 10s;
}
.background li:nth-child(6) {
  left: 45%;
  width: 193px;
  height: 193px;
  bottom: -193px;
  animation-delay: 18s;
}
.background li:nth-child(7) {
  left: 34%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 9s;
}
.background li:nth-child(8) {
  left: 29%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 19s;
}
.background li:nth-child(9) {
  left: 63%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 23s;
}