@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #7422c8;
    overflow: hidden;
}

.background span {
    width: 13vmin;
    height: 13vmin;
    border-radius: 13vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #381961;
    top: 73%;
    left: 63%;
    animation-duration: 39s;
    animation-delay: -45s;
    transform-origin: 13vw 21vh;
    box-shadow: -26vmin 0 3.8973400053209946vmin currentColor;
}
.background span:nth-child(1) {
    color: #b75cb7;
    top: 8%;
    left: 62%;
    animation-duration: 20s;
    animation-delay: -27s;
    transform-origin: -2vw 2vh;
    box-shadow: -26vmin 0 4.2227916744438385vmin currentColor;
}
.background span:nth-child(2) {
    color: #b75cb7;
    top: 50%;
    left: 48%;
    animation-duration: 6s;
    animation-delay: -27s;
    transform-origin: 0vw 9vh;
    box-shadow: -26vmin 0 3.8235760045066476vmin currentColor;
}
.background span:nth-child(3) {
    color: #4b1111;
    top: 97%;
    left: 70%;
    animation-duration: 17s;
    animation-delay: -20s;
    transform-origin: -8vw 17vh;
    box-shadow: 26vmin 0 4.203816945533303vmin currentColor;
}
.background span:nth-child(4) {
    color: #381961;
    top: 49%;
    left: 36%;
    animation-duration: 49s;
    animation-delay: -1s;
    transform-origin: 5vw -8vh;
    box-shadow: 26vmin 0 3.493440865183894vmin currentColor;
}
.background span:nth-child(5) {
    color: #4b1111;
    top: 88%;
    left: 64%;
    animation-duration: 32s;
    animation-delay: -30s;
    transform-origin: -11vw 9vh;
    box-shadow: -26vmin 0 4.138724095336092vmin currentColor;
}
.background span:nth-child(6) {
    color: #b75cb7;
    top: 14%;
    left: 9%;
    animation-duration: 22s;
    animation-delay: -49s;
    transform-origin: 0vw 9vh;
    box-shadow: -26vmin 0 3.548525287819201vmin currentColor;
}
.background span:nth-child(7) {
    color: #b75cb7;
    top: 14%;
    left: 57%;
    animation-duration: 22s;
    animation-delay: -46s;
    transform-origin: 20vw 3vh;
    box-shadow: 26vmin 0 3.311964082959987vmin currentColor;
}
.background span:nth-child(8) {
    color: #b75cb7;
    top: 32%;
    left: 72%;
    animation-duration: 21s;
    animation-delay: -23s;
    transform-origin: 8vw 11vh;
    box-shadow: -26vmin 0 3.5639462772943427vmin currentColor;
}
.background span:nth-child(9) {
    color: #381961;
    top: 35%;
    left: 51%;
    animation-duration: 29s;
    animation-delay: -17s;
    transform-origin: 23vw -1vh;
    box-shadow: 26vmin 0 3.3407363433120905vmin currentColor;
}
.background span:nth-child(10) {
    color: #4b1111;
    top: 4%;
    left: 1%;
    animation-duration: 10s;
    animation-delay: -43s;
    transform-origin: -4vw 23vh;
    box-shadow: 26vmin 0 3.880624082817546vmin currentColor;
}
.background span:nth-child(11) {
    color: #4b1111;
    top: 38%;
    left: 74%;
    animation-duration: 31s;
    animation-delay: -37s;
    transform-origin: -23vw 3vh;
    box-shadow: 26vmin 0 3.8657416188315787vmin currentColor;
}
.background span:nth-child(12) {
    color: #b75cb7;
    top: 75%;
    left: 28%;
    animation-duration: 9s;
    animation-delay: -41s;
    transform-origin: -5vw -7vh;
    box-shadow: 26vmin 0 4.236149403188889vmin currentColor;
}
.background span:nth-child(13) {
    color: #b75cb7;
    top: 71%;
    left: 99%;
    animation-duration: 48s;
    animation-delay: -42s;
    transform-origin: 14vw 14vh;
    box-shadow: -26vmin 0 3.887550550796094vmin currentColor;
}
.background span:nth-child(14) {
    color: #4b1111;
    top: 91%;
    left: 18%;
    animation-duration: 40s;
    animation-delay: -27s;
    transform-origin: -19vw 3vh;
    box-shadow: -26vmin 0 3.7526360827186975vmin currentColor;
}
.background span:nth-child(15) {
    color: #381961;
    top: 10%;
    left: 40%;
    animation-duration: 12s;
    animation-delay: -32s;
    transform-origin: 8vw -17vh;
    box-shadow: -26vmin 0 3.8738596587999727vmin currentColor;
}
.background span:nth-child(16) {
    color: #4b1111;
    top: 42%;
    left: 25%;
    animation-duration: 39s;
    animation-delay: -28s;
    transform-origin: -13vw 1vh;
    box-shadow: 26vmin 0 3.4925461439845225vmin currentColor;
}
.background span:nth-child(17) {
    color: #b75cb7;
    top: 89%;
    left: 50%;
    animation-duration: 36s;
    animation-delay: -28s;
    transform-origin: 5vw 23vh;
    box-shadow: -26vmin 0 3.5128393389732375vmin currentColor;
}
.background span:nth-child(18) {
    color: #381961;
    top: 66%;
    left: 29%;
    animation-duration: 44s;
    animation-delay: -1s;
    transform-origin: -6vw 23vh;
    box-shadow: 26vmin 0 3.666582200034922vmin currentColor;
}
.background span:nth-child(19) {
    color: #b75cb7;
    top: 61%;
    left: 68%;
    animation-duration: 22s;
    animation-delay: -1s;
    transform-origin: 4vw -5vh;
    box-shadow: -26vmin 0 3.3241597299676715vmin currentColor;
}
